# Dependencies
node_modules

# Next.js
/.next/
/out/

# Production
/build

# Environment variables
.env
.env.local
.env.*.local

# Database
prisma/dev.db
prisma/dev.db-journal
prisma/prod.db
prisma/prod.db-journal

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel

# Local Node.js distribution
node/

# Screenshots
*.png
*.jpg
